apiVersion: apps/v1
kind: Deployment
metadata:
  name: ciim-tna
  namespace: etna
spec:
  template:
    spec:
      containers:
        - name: ciim
          image: public.ecr.aws/v3w7q3a1/tna-ciim:3.0.13
          env:
            - name: JAVA_OPTS
              value: "-Xms26g -Xmx26g"
          resources:
            requests:
              memory: 28Gi
            limits:
              memory: 28Gi